<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
 <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path flat.card_picture %>); height: 50vh;">
 </div>

 <div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="owner-description">
        <div class="owner-picture">
          <%= image_tag flat.owner_picture, class: "avatar-large" %>
          <p class="text-center"><%= flat.owner_name.capitalize %></p>
        </div>
        <div class="flat-summary">
          <h1><%= flat.summary %></h1>
          <p><%= flat.city %></p>
          <% flat.rating.times do %>
            <i class="fa fa-star" style="color: yellow"> </i>
          <% end %>
          <% (5 - flat.rating).times do %>
            <i class="fa fa-star" style="color: grey"> </i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="wrapper-grey form-margin">
        <h4>Book this flat</h4>
        <div class="row">
          <form action="">
          <div class="col-xs-6">
            <div class="form-padded">
              <input type="text" class="form-control" placeholder="checkin" id="checkin">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-padded">
              <input type="text" class="form-control" placeholder="checkout" id="checkin">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-padded">
              <select name="" id="" class="form-control input-lg">
                <option value="1">1 person</option>
                <option value="2">2 persons</option>
                <option value="3">3 persons</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-padded">
              <input type="submit" class="btn btn-danger btn-lg" style="width: 100%" value="Book it">
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>


